<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="${ctxPath}/css/uikit.gradient.min.css"></link>
<script type="text/javascript" src="${ctxPath}/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="${ctxPath}/js/uikit.min.js"></script>
<title>Openfire聊天室</title>
</head>
<body>
<nav></nav>
<div class="uk-container">
<div class="uk-grid">
<div class="uk-width-1-5">
<div class="uk-panel"></div>
</div>
<div class="uk-width-3-5"></div>
<div class="uk-width-1-5"></div>
</div>
</div>
</body>
</html>