<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="${ctxPath}/css/uikit.gradient.min.css"/>
    <link rel="stylesheet" href="${ctxPath}/css/style.css">
    <script type="text/javascript" src="${ctxPath}/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="${ctxPath}/js/uikit.min.js"></script>
    <title>Openfire聊天室</title>
    <script type="text/javascript">
    $(function(){
    	//加载用户好友
    	loadUserRoster();
    	function loadUserRoster(){
    		var params=new Object();
    		params.username=${userInfo};
    		$.get("${ctxPath}/openfire/client/roster",params,function(data){
    			$("#userRoster").html(data);
    		});
    	}
    	
    });
    </script>
</head>
<body>
<nav class="of-main-nav">
    <h2>聊天室</h2>
</nav>
<div class="uk-grid">
    <div class="uk-width-1-5">
        <div class="uk-panel uk-panel-box uk-panel-divider">
            <div class="uk-container-center">
                <div class="uk-thumbnail">
                    <img class="uk-border-circle" src="${ctxPath}/images/header.jpg" alt="">
                    <div class="uk-thumbnail-caption ">${userInfo}</div>
                    <a class="uk-button uk-width-1-1 uk-margin-small-bottom" href="${ctxPath}/openfire/client/logout">退出登录</a>
                </div>
            </div>
        </div>
        <div class="uk-panel uk-panel-divider">
            <h1 class="uk-panel-title">好友列表</h1>

            <div>
                <h4 class="of-roster-title"></h4>
                <div id="userRoster"></div>
            </div>
        </div>
    </div>
    <div class="uk-width-3-5">
        <ul class="uk-tab" data-uk-tab>
            <li class="uk-active"><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li><a href="">...</a></li>
            <li class="uk-disabled"><a href="">...</a></li>
        </ul>
    </div>
    <div class="uk-width-1-5"></div>
</div>
</body>
</html>