<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="${ctxPath}/css/uikit.gradient.min.css"></link>
<script type="text/javascript" src="${ctxPath}/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="${ctxPath}/js/uikit.min.js"></script>
<title>IM监控系统</title>
</head>
<body>
	<!--头部导航蓝-->
	<nav class="uk-navbar">

		<a class="uk-navbar-brand" href="#">IM管理监控平台</a>


		<div class="uk-navbar-content uk-navbar-flip  uk-hidden-small">
			<div class="uk-button-group">
				<a class="uk-button uk-button-primary" href="#"><i
					class="uk-icon-sign-in"></i>&nbsp;登录</a>
				<button class="uk-button uk-button-success">
					<i class="uk-icon-registered"></i>&nbsp;注册
				</button>
			</div>
		</div>

	</nav>
	<div class="uk-container-fluid">
		<div class="uk-grid">
			<div class="uk-width-1-6">
				<div class="uk-panel uk-panel-box uk-panel-header uk-margin-top">
					<h3 class="uk-panel-title">
						<i class="uk-icon-home"></i>系统面板菜单
					</h3>
					<ul class="uk-nav uk-nav-parent-icon" data-uk-nav="{multiple:true}"
						data-uk-switcher="{connect:'#my-id'}">
						<li class="uk-nav-header"><i class="uk-icon-bullseye"></i>&nbsp;Openfire监控</li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;Openfire运行情况
						</a></li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;Openfire服务管理
						</a></li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;Openfire节点管理
						</a></li>
						<li><a href="${ctxPath}/openfire/client/login">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;Openfire客户端
						</a></li>
						<li class="uk-nav-divider"></li>
						<li class="uk-nav-header"><i class="uk-icon-cog"></i>&nbsp;系统部署</li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;用户测试
						</a></li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;用户編譯
						</a></li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;用户发布
						</a></li>
						<li class="uk-nav-divider"></li>
						<li class="uk-nav-header"><i class="uk-icon-gear"></i>&nbsp;系统管理</li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;菜单管理
						</a></li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;用户管理
						</a></li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;角色管理
						</a></li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;权限管理
						</a></li>
						<li><a href="#">&nbsp;&nbsp;<i class="uk-icon-bell"></i>&nbsp;运行情况
						</a></li>

					</ul>
				</div>

			</div>
			<div class="uk-width-5-6">
				<div
					class="uk-panel uk-panel-box uk-panel-box-secondary uk-panel-header uk-margin-top">
					<ul class="uk-subnav uk-subnav-line">
						<li class="uk-active"><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li><a href="#">Item</a></li>
						<li class="uk-disabled"><a href="#">Disabled</a></li>
					</ul>
					<hr />
					<!-- 包含内容项目的容器 -->
					<ul id="my-id" class="uk-switcher">
						<li>.vfgfrwfwfewfgwag4wefw4 tge54t344t e .gft.</li>
						<li>.vfgfrwfwefw4 4ttfg e ..</li>
						<li>.vfgfrwfwefw4 t4t e ..</li>
						<li>.vfgfrwfwefwfrewr4 4t e ..</li>
						<li>.vfgfrwffceswefw4 4t e ..</li>
						<li>.vfgfrwfwefw4 4t gfrte .gy4e5y45.</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>